html {
    font-size: 14px; /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
    font-family: 'Open Sans', sans-serif; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
    background-color: #ffffbf;
}
p,li,th,caption,label {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
   color: black;
   width: 800px;
/*  border: 1px solid black;*/
}
li{width: 750px;}
input {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
   color: black;
}

#voieferre {
    color: salmon;
  }
.ma-classe {
    color: blue;
    font-weight:bolder;
  }
.Legende-image {
  text-align: center;
  margin: 0;
  padding: 0 0 10px 0; 
  }

a:hover{
    color: black;
  }
h1 {
    font-size: 52px;
    text-align: center;
    font-family: 'Fascinate', cursive;  
    margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 2px 2px 2px black;
}

h2 {
    font-family: 'Mountains of Christmas', cursive;
    color:crimson;
    font-size: 30px;
}

img {
  display: block;
  margin: 0 auto;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: papayawhip;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

/*
.a11y-label {
  margin: 0;
  text-align: right;
  font-size: 0.7rem;
  width: 98%;
}
*/

.Bouton-retour,.Bouton-suivant,.Bouton-precedent {
  max-width: 200px;
  width: auto;
  padding: 10px 30px 10px 20px;
  font-size: 14px;
  line-height: 1;
  border: 2px solid blue;
  border-radius: 4px;
  color: blue;
  background-color: white;
    transition: all 0.1s;}

 .Bouton-retour:hover,.Bouton-suivant:hover,.Bouton-precedent:hover {
    color: white;
    border-color: black;
    background-color: blue;
  }

.imagePleine {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 600px;
  height: 480px;
}

.barreImage {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 5px;
}
.barreImage img {
  display: flex;
  float: left;
  width: 60px;
  height: 48px;
  cursor: pointer;
}

.tableaucadre td, .tableaucadre th {
    border: 1px solid #54595d;
    padding: 3px 10px;
}
.tabaligvertic {
    vertical-align: top;
}
.tableaucadre {
    margin: auto;
    border: 1px solid #54595d;
    border-collapse: collapse;
}
.stylh2norm {
   font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 22px;
}

.carteCliquable {
  position: relative;
}

.boutoncarte {
  border: 0;
  background: rgba(0,0,0,0);
  position: absolute;
  cursor: pointer;
  text-decoration: none;
 }
.boutoncarte:hover{
    color: black;
    background: rgba(0,0,0,0.6);
  }

.daterelief {
    margin-top: 20px;
    margin-bottom: 0;
    font-weight:bolder;
}